:root {
  --text-container: rgb(44, 44, 44);
  --main-text: rgb(29, 29, 29);
  --text-secondary: rgb(29, 29, 29);
  --themesIcon: rgb(29, 29, 29);
}

.dark-mode {
  background-color: rgb(29, 29, 29);
  --main-text: rgb(255, 255, 255);
  --secondary-text: rgb(255, 255, 255);
  --themesIcon: rgb(255, 255, 225);
}
body {
  transition: background-color 0.6s, color 0.6s;
}
.container {
  padding: 30px;
  max-width: 1200px;
  text-align: center;
  margin: auto;
}
@media (max-width: 1280px) {
  .container {
    padding: 15px;
    max-width: 900px;
    text-align: center;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
    max-width: 600px;
    text-align: center;
    margin: auto;
  }
}

.main-text {
  padding: 30px;
  color: var(--main-text);
}
@media (max-width: 1280px) {
  .main-text {
    padding: 15px;
    font-size: 27px;
  }
}
@media (max-width: 768) {
  .main-text {
    padding: 10px;
  }
}
.secondary-text {
  color: var(--secondary-text) !important;
}
@media (max-width: 1280px) {
  .secondary-text {
    font-size: 14px;
  }
}

.text-container {
  padding: 10px;
  max-height: 1200;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--text-container);
  height: 100px;

  border-radius: 10px;
}
@media (max-width: 1280px) {
  .text-container {
    padding: 15px;
    max-width: 800px;
    text-align: center;
    height: 60px;

    margin: auto;
  }
  @media (max-width: 768px) {
    .text-container {
      padding: 10px;
      /* max-width: 500px; */
      height: 45px;
      text-align: center;
      margin: auto;
    }
  }
}
.text-warning {
  padding: 10px;
  margin: auto;

  height: 80px;
  overflow-inline: auto;
}
@media (max-width: 1280px) {
  .text-warning {
    padding: 0px;

    height: 50px;
    font-size: 12px;
  }
  @media (max-width: 768px) {
    .text-warning {
      padding: 0px;

      height: auto;
      font-size: 10px;
    }
  }
}
.text-info {
  padding: 10px;

  height: 80px;
  overflow-inline: auto;
}
@media (max-width: 1280px) {
  .text-info {
    padding: 0px;
    height: 60px;
    font-size: 12px;
  }
  @media (max-width: 768px) {
    .text-info {
      padding: 0px;
      height: auto;
      font-size: 10px;
    }
  }
}
.btn-container {
  padding: 30px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1280px) {
  .btn-container {
    padding: 10px;
  }
}
@media (max-width: 768) {
  .btn-container {
    padding: 10px;
  }
}
.btn-primary {
  margin: 15px;
}
@media (max-width: 1280px) {
  .btn-primary {
    margin: 10px;
  }
}
@media (max-width: 768) {
  .btn-primary {
    margin: 5px;
  }
}
.btn-light {
  margin: 15px;
  outline-width: 1px;
  outline-style: solid;
}
@media (max-width: 1280px) {
  .btn-light {
    margin: 10px;
  }
}
@media (max-width: 768) {
  .btn-light {
    margin: 5px;
  }
}
.favoriteBtn {
  color: white;
  background-color: rgba(28, 28, 28, 0);
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 29px;
  max-height: 30px;
}
.favoriteList {
  background-color: rgb(44, 44, 44);
  padding: 10px;

  height: auto;
  overflow: hidden;

  justify-content: center;
  background-color: rgb(44, 44, 44);
  border-radius: 10px;
}
.favoriteQuote {
  padding: 10px;
  margin: auto;
  max-width: 800px;
  height: 60px;
}
@media (max-width: 1280px) {
  .favoriteQuote {
    padding: 0px;
    max-width: 800px;
    height: 50px;
    font-size: 16px;
  }
  @media (max-width: 768px) {
    .favoriteQuote {
      padding: 0px;
      max-width: 600px;
      height: 40px;
      font-size: 12px;
    }
  }
}
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: auto; /* Center the loader */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.divThemesIcon {
  max-width: 32px;
  max-height: 32px;
  cursor: pointer;
  text-align: center;
  display: block;
}
.themesIcon {
  fill: var(--themesIcon) !important;
}
